<<<<<<< HEAD
.info-payment {
  width: 600px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.payment-total-wrapper {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.payment-total-wrapper span {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}

#VND {
  margin-left: 30px;
  color: red;
  font-weight: 500;
}

.form-payment-zalo {
  width: 500px;
}
.form-payment-zalo input {
  width: 100%;
  font-size: 16px;
  color: #555;
}

.infor {
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  margin: 20px 0;
  color: #555;
}

.form-payment-zalo .row {
  margin-bottom: 15px;
}

.form-payment-zalo .row label {
  text-transform: uppercase;
  color: #555;
  display: block;
  margin-bottom: 10px;
}

.createOrder {
  background-color: #0a68fe;
  border: none;
  color: #fff;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 2px;
  width: 100%;
  height: 40px;
  text-transform: uppercase;
}
=======
.form-payment-zalo {
    width: 500px;
    clear: both;
}
.form-payment-zalo input {
    width: 100%;
    clear: both;
}
.total {
    display: inline;
    font-size: 20px;
}
#VND {
    margin-left: 50px;
    color: red;
    font-weight: 500;
}
.infor {
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
}
.createOrder {
    background-color: #0A68FE;
    border: none;
    color: #FEFFFF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
}
>>>>>>> 6562fbf84f5c35db23095f02e56effeb33924e81
